<!-- Remove the container if you want to extend the Footer to full width. -->
<footer
  class="text-center text-lg-start border-top mt-5"
  style="background-color: white; width: 100% !important"
>
  <div class="container d-flex justify-content-center py-5">
    <button
      type="button"
      class="btn btn-secondary btn-lg btn-floating mx-2 border-0"
      style="background-color: rgb(239, 239, 240)"
    >
      <i class="fab fa-facebook-f"></i>
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-lg btn-floating mx-2 border-0"
      style="background-color: rgb(239, 239, 240)"
    >
      <i class="fab fa-youtube"></i>
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-lg btn-floating mx-2 border-0"
      style="background-color: rgb(239, 239, 240)"
    >
      <i class="fab fa-instagram"></i>
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-lg btn-floating mx-2 border-0"
      style="background-color: rgb(239, 239, 240)"
    >
      <i class="fab fa-twitter"></i>
    </button>
  </div>

  <!-- Copyright -->
  <div
    class="text-center text-white p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
