body {
  font-family: "Poppins", sans-serif;
}

.name {
  font-family: "Arizonia", sans-serif;
  font-size: 75px;
}

.lead {
  font-family: "Oswald", sans-serif;
}

.click-me {
  font-family: "Gochi Hand", sans-serif;
  font-size: 75px;
}
